@model List<CodingLanguages.Models.User>
@{
    ViewData["Title"] = "Admin Area";
}

@using CodingLanguages.Controllers
@using Microsoft.Extensions.Localization

@inject IStringLocalizer<UserController> StringLocalizer

<link rel="stylesheet" href="~/css/table2.css" />

<h1>@StringLocalizer["adm"]</h1>

<div class="form">
    <table>
        <thead>
            <tr>
                <td colspan="6">@StringLocalizer["adm.list"]</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>@StringLocalizer["username"]</th>
                <th>@StringLocalizer["firstname"]</th>
                <th>@StringLocalizer["lastname"]</th>
                <th>@StringLocalizer["email"]</th>
                <th></th>
                <th></th>
            </tr>

            @foreach (User u in Model)
            {
                <tr>
                    <td>@u.Username</td>
                    <td>@u.Firstname</td>
                    <td>@u.Lastname</td>
                    <td>@u.Email</td>
                    <td>
                        <form action="/user/updateAdmin/@u.Username">
                            <input type="submit" value="ändern" />
                        </form>
                    </td>
                    <td>
                        <form action="/user/deleteAdmin/@u.Username">
                            <input style="background-color: red;" type="submit" value="löschen" />
                        </form>
                    </td>
                </tr>
            }

        </tbody>
        <tfoot>
            <tr>
                <td colspan="7">@StringLocalizer["adm.edit"]</td>
            </tr>
        </tfoot>
    </table>
</div>