@model CodingLanguages.Models.User
@{
    ViewData["Title"] = "ChangePassword";
}

@using CodingLanguages.Controllers
@using Microsoft.Extensions.Localization

@inject IStringLocalizer<UserController> StringLocalizer

<h1>@StringLocalizer["chpwd"]</h1>

<div class="form">
    <form asp-controller="user" asp-action="ChangePassword" method="post">
        <p class="oldpassword">
            <label asp-for="PasswordOld">@StringLocalizer["chp.op"]</label>
            <input type="password" asp-for="PasswordOld" placeholder=@StringLocalizer["chp.op.p"]>
            <span asp-validation-for="PasswordOld"></span>
        </p>

        <p class="password">
            <label asp-for="Password">@StringLocalizer["pwd"]</label>
            <input type="password" asp-for="Password" placeholder=@StringLocalizer["chp.pw.p"]>
            <span asp-validation-for="Password"></span>
        </p>

        <p class="cpassword">
            <label asp-for="CPassword">@StringLocalizer["cpwd"]</label>
            <input type="password" asp-for="CPassword" placeholder=@StringLocalizer["chp.cp.p"]>
            <span id="cpasswordMessage" style="display:none; color:red"> @StringLocalizer["chp.cp.s"]</span>
        </p>

        <p>
            <input id="btnSubmit" type="submit" value=@StringLocalizer["sub"]>
        </p>
    </form>
</div>

@section Scripts {
    <script src="~/js/chPassword.js" asp-append-version="true"></script>
}