
@{
    ViewData["Title"] = "Index";
}

@using CodingLanguages.Controllers
@using Microsoft.Extensions.Localization

@inject IStringLocalizer<HomeController> StringLocalizer

<link rel="stylesheet" href="~/css/talbe.css" />

<h1>.NET Framework</h1>

<div>
    <p class="paragrath">
        @StringLocalizer["net.p1"]
    </p>
    <p class="paragrath">
        @StringLocalizer["net.p2"]
    </p>
    <p class="paragrath">
        @StringLocalizer["net.p3"]
    </p>
    <p class="paragrath">
        @StringLocalizer["net.p4"]<br /><br /><br />
    </p>
    <table>
        <thead>
            <tr>
                <td width="50%">
                    @StringLocalizer["adv"]
                </td>
                <td width="50%">
                    @StringLocalizer["dia"]
                </td>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>
                    <u>@StringLocalizer["net.ad1h"]</u><br />
                    @StringLocalizer["net.ad1"]
                </td>
                <td>
                    <u>@StringLocalizer["net.ad2h"]</u><br />
                    @StringLocalizer["net.ad2"]
                </td>
            </tr>
            <tr>
                <td>
                    <u>@StringLocalizer["net.ad3h"]</u><br />
                    @StringLocalizer["net.ad3"]
                </td>
                <td>
                    <u>@StringLocalizer["net.ad4h"]</u><br />
                    @StringLocalizer["net.ad4"]
                </td>
            </tr>
        </tbody>

    </table>
</div>

