
@{
    ViewData["Title"] = "Index";
}

@using CodingLanguages.Controllers
@using Microsoft.Extensions.Localization

@inject IStringLocalizer<HomeController> StringLocalizer

<link rel="stylesheet" href="~/css/talbe.css" />

<h1>Java</h1>

<div>
    <p class="paragrath">
        @StringLocalizer["java.p1"]
    </p>
    <p class="paragrath">
        @StringLocalizer["java.p2"]
    </p>
    <p class="paragrath">
        @StringLocalizer["java.p3"]
    </p>
    <p class="paragrath">
        @StringLocalizer["java.p4"]
    </p>
    <p class="paragrath">
        @StringLocalizer["java.p5"]
    </p>
    <p class="paragrath">
        @StringLocalizer["java.p6"]<br /><br /><br />
    </p>
    <table>
        <thead>
            <tr>
                <td width="50%">
                    @StringLocalizer["adv"]
                </td>
                <td width="50%">
                    @StringLocalizer["dia"]
                </td>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>
                    <u>@StringLocalizer["java.ad1h"]</u><br />
                    @StringLocalizer["java.ad1"]
                </td>
                <td>
                    <u>Performance:</u><br />
                    @StringLocalizer["java.ad2"]
                </td>
            </tr>
            <tr>
                <td>
                    <u>@StringLocalizer["java.ad3h"]</u><br />
                    @StringLocalizer["java.ad3"]
                </td>
                <td>
                    <u>@StringLocalizer["java.ad4h"]</u><br />
                    @StringLocalizer["java.ad4"]
                </td>
            </tr>
        </tbody>
    </table>

</div>

